/*corrects IE min-height bug*/
html {
	display: flex;
}
body {
	width: 100%;
	border-color: #1d1b1c;
	border-style: outset;
	border-width: 5px;
}

/*top button styling*/
#topButtons {
	margin-top: 18px;
	margin-bottom: 10px;
	margin-right: 45px;
}

.nav {
	padding-right: 15px;
}

.navbar {
	margin-top: 105px;
	padding-top: 12px;
}

.navbar-default {
	background: none;
	border-bottom-color: #1d1b1c;
	border-bottom-width: 3px;
	box-shadow: none;
}

img#logo {
	 width:100px;
	 height:100px;
	 float: left;
 }

#landingPage {
	padding:10px;
}

#mainHeader {
	padding: 10px;
	border-radius: 1%;
	border-bottom-color: #1d1b1c;
	border-bottom-style: outset;
	border-bottom-width: 5px;
	margin-bottom: 10px;
}

#mainHeader, footer {
	color: #1d1b1c;
	background-color: #e2ff9e;

}

/* footer styles */

footer {
	border-top-color: #1d1b1c;
	border-top-style: outset;
	border-top-width: 5px;
	padding-top: 8px;
}

span.setPass{
	color: #FF0004;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

.mainView {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.mainViewContent {
	flex: 1 0 auto;
}

/* reusable padding utilities */
.p-y-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.p-y-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.m-b-2 {
	margin-bottom: 2rem;
}

/* styles for md and lg breakpoints here */
@media only screen and (min-width: 992px) {
	.text-right-md-up {
		text-align: right;
	}
}
/*end of Flexbox Sticky Footer*/


/*styling for User Set Pass form*/

/********************************************
* Primary Page Styles
********************************************/
.form-wrap {
	background-color: #ffffff;
	margin: 0 0 50px 0;
	padding: 20px 0 0 0;
}

/********************************************
* Form Styles
********************************************/
form#sample-form {
	/*color: #1295FF;*/
	color: #000000;
}

#sample-form .form-group {
	border-bottom: 1px solid #111;
	padding-bottom: 25px;
}

#sample-form .form-group:last-child {
	border: none;
	margin-top: 20px;
}

#sample-form label {
	font-weight: 400;
}

#sample-form .control-label {
	font-family: "Roboto", sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	padding-bottom: 4px;
	text-align: left !important;
}

#sample-form .input-group-addon {
	border-radius: 0 !important;
	background: none;
	border: 1px solid #fff;
	color: #fff;
}

#sample-form .help-block {
	color: #ddd;
	font-size: 0.85em;
	margin-top: 0;
}

/********************************************
* Input Field Styles
********************************************/
#sample-form .btn {
	background: none;
	border-color: #fff;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
	transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	-webkit-transition: all 250ms ease;
}

#sample-form .btn:hover,
#sample-form .btn:focus {
	background: #fff;
	border-color: #ccc;
	box-shadow: none;
	color: #000;
}

#sample-form input.form-control,
#sample-form textarea.form-control,
#sample-form select.form-control {
	background: none;
	border: 1px solid #fff;
	border-radius: 0;
	color: #fff;
}

#sample-form option {
	color: #000;
	background-color: #fff;
	padding: 5px;
}

#sample-form .no-option {
	background: #dddddd;
}

.show-on-hover:hover > ul.dropdown-menu {
	display: block;
}

 /*end of form style*/
